<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Exploring the Three Steps</h2>
        <p>
          1. Breathe in and fill up with the goodness that dwells at the core of our being. In
          order to do this, we must remember that goodness lives within us. A lot of people
          don’t have faith in their own goodness and often feel “not good enough” or “unworthy”
          in some way. These negative stories about ourselves must be seen for what they are —
          conditioning and narratives we have made up to explain negative experiences in our
          lives, usually in our younger years. The call is to relinquish any doubt about the
          fact of our own inherent goodness.
        </p>
        <p>
          2. Intentionally drink of this goodness and pause long enough to ideally feel the
          richness of goodness in your body. But whether we feel it or not, the goodness is
          there. There are various approaches to being aware of the goodness: Breathe into your
          heart. Acknowledge your essence. Pause and experience your essence as goodness. Some
          people describe this process as reaching deep inside of themselves, beyond their
          stories and personalities, into the spiritual well of our oneness. Others tell me
          that they intentionally tune into a sense of divinity or light within themselves that
          they believe is in all of us. Still others focus on the giving and receiving of
          kindness as a way to viscerally fill themselves up with goodness. Of course, feel
          free to experiment with various ways of tuning into goodness, and discover whatever
          works best for you. Bottom line, what is most important is that you find your way to
          access the goodness within you and you pause long enough to savor, in some manner,
          this essential goodness. Even one conscious moment can be transformative.
        </p>
        <p>
          3. Intentionally channel this goodness out to others, into our country and our world
          as a force of light. With your exhalation, you propel this goodness from your heart
          and center, out into the world. You can use sound and body movement if this feels
          empowering for you. Or you can just use the power of visualization and intention to
          propel this Goodness out into the world as a force for global healing.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="outline" color="tertiary" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
