ion-header {
  --background: var(--ion-color-light);
}

ion-toolbar {
  --background: transparent;
}

img {
  margin: auto;
  display: block;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.main-image {
  position: relative;
  width: 100%;
}

.main-image-title {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  font-size: 5vw;
  text-shadow: 3px 3px 5px #000000;
  font-weight: bold;
  color: #ffffff;
}

.bold-it {
  font-weight: bold;
}

.hanging-indent {
  padding-left: 22px ;
  text-indent: -22px ;
}

.new-spacing p {
  margin-top: .3em;
  margin-bottom: .3em;
}

.vanish {
  margin: auto;
  display: block;
  opacity: 0;
  transition: opacity 0.5s linear;
  //transform: scaleY(0) scaleX(0);
  //transition: transform 0.5s linear;
}
