<ion-header [class.vanish]="showImage">
  <ion-toolbar>
    <ion-title>Our Mission</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen (ionScroll)="vanishOnScroll($event)" [scrollEvents]="true">
  <div class="main-image">
    <img [class.vanish]="showImage" src="/assets/imgs/mission.jpg">
    <!--<p class="main-image-title">Our Mission</p>-->
  </div>
  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col size="8">
        <h1>The Vision and Mission:</h1>
        <p class="hanging-indent"><span class="bold-it">The Mission</span> is to enroll as many
          human beings possible across our planet to participate in the intentional practice of
          The Goodness Breath. We rise up in opposition to the massive expressions of fear, greed
          and division.</p>
        <p class="hanging-indent">As we make this practice a part of our daily lives, we
          implement our  conscious intention to turn things around. This conscious inner posture
          that anchors us into our goodness can be foundational for all the other actions we
          take.</p>
        <p>We powerfully align with our goodness and intentionally direct it out into the world
          as a way to propel the best of what makes us human.</p>
        <p class="hanging-indent">In these days when the shadow side of our humanity is so
          prevalent and seemingly out
          of control, The Goodness Breath Project is dedicated to utilizing our inherent,
          essential goodness as a force for positive change and transformation at this most
          critical time in our evolution.</p>
        <p>As more and more of us join together in this mission to stand firm in our goodness and
          to radiate it out all over the world, the power of our Goodness gains strength and
          gathers the momentum necessary for us to turn things around. We believe our inherent,
          essential Goodness has the power to unite and awaken us in powerful ways so that we can
          overcome and reverse the racism, tyranny and destructiveness that is currently showing
          itself around the world. From the vibration of affirming our goodness, the actions we
          take to make a difference are enhanced with this high frequency.</p>
        <p>This <span class="bold-it">shift in consciousness</span> calls upon us to anchor into
          the belief that the light is more powerful than the darkness.</p>
        <p>We who join in conscious goodness are an army of <span class="bold-it">warriors of
          radical awareness and action.</span></p>
        <p><span class="bold-it">“Warriors”</span> because we are taking it on as a mission to “take
          the high road,” no matter what human ugliness we may encounter.</p>
        <p><span class="bold-it">“Radical awareness”</span> because it is a refusal to identify
          with what is before us and surrounding us.</p>
        <p><span class="bold-it">“Action”</span> because we hold to goodness consciously and we
          refuse to allow ourselves to be diminished.</p>
        <p>And we bring this goodness into any and all opportunities to show up with kindness,
          generosity and service.</p>
        <p>It is going to take a critical mass of us to become conscious and harness the power of
          love as stronger than anything else.</p>
        <p>By joining together in this unified focus on spreading goodness all around the globe,
          we become a force that awakens our sense of unity and respect for the equality of all
          beings and for our earth.</p>
        <p>The calling is for each and every one of us to consciously practice this Goodness
          Breath throughout the day, as often as we can remember to. We simply breathe in and
          fill up on goodness, savor it, and then exhale this goodness out into the world with a
          positive and fierce intention.</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="8">
        <h1>How do we stay tuned into the goodness when we become so stirred up with anger,
          horror and aversion?</h1>
        <p>We must give permission to ourselves to feel what we feel. We must create a time and
          place to feel these feelings and then learn to shift the focus back to our core selves.
        </p>
        <p>The first step, even before utilizing the various tools to transform the negativity,
          is to anchor into the conviction of why it is so important to make the shift back to
          our goodness.</p>
        <p>In the face of darkness, the Fierce Voice of Goodness declares:</p>
        <div class="new-spacing">
          <p>I will not identify with you. I will not
            match you in darkness.
          </p>
          <p>I will not lower my vibration to match
            yours.</p>
          <p>I will not let you fool me into believing
            that human beings are this bad.
          </p>
          <p>I will not allow myself to hate you as
            much as you hate others.</p>
          <p><span class="bold-it">I will not</span> give up my power by allowing
            this kind of hate to take me over.</p>
          <p>I will courageously stare you in your face -- a human face just like mine.</p>
          <p>I will witness you as you do actions that hurt others and our earth.</p>
          <p>In response, I may cry and scream and rage and fall to my knees and pound the earth.</p>
          <p>But I refuse to identify with you.</p>
          <p>I will not join you in the ugliness.</p>
          <p>No! I will not forget who I am</p>
        </div>
        <div class="new-spacing">
          <p>I stand steady and strong.</p>  
          <p>I am goodness, more powerful than the shadows that you cast.</p>
          <p>I am endless acts of kindness and service.</p>
          <p>I am goodness.</p>
          <p>This goodness is light.</p>
          <p>Your darkness can not put my light out.</p>
        </div>
        <p>In the face of you, I will not forget who I am.</p>
        <p>You are vapor. You will come and go. You will not rule me.</p>
        <p>Goodness prevails and is ultimately unconquerable.</p>
        Now, once you anchor into this conviction, actively work with yourself to make the shift
        and clear the way to experience inherent Goodness.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>