<ion-header [class.vanish]="showImage" translucent>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen (ionScroll)="vanishOnScroll($event)" [scrollEvents]="true">
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <img [class.vanish]="showImage" class="main-image" src="/assets/imgs/GBP-cropped.jpg">
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="8">
        <h1>The Goodness Breath Project</h1>
        <h3>Light Up the Grid with Goodness</h3>
        <p>The Goodness Breath is an ongoing spiritual practice for all of us
          to participate in at this time of upheaval andtransformation. It is a way
          of staying in powerful alignment with who we really are as human beings
          and what we are made of - <span
            style="font-style: italic;">goodness</span>.
          <ion-button *ngIf="!showMoreContent" color="secondary" fill="clear" size="small"
                      (click)="onShowMoreContent()">
            <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
            Show More
          </ion-button>
        </p>
      </ion-col>

      <ion-col *ngIf="showMoreContent" size="8">
        <p>In these challenging times of witnessing our government enact war on our
          environment (wildlife, air and water, earth, national parks), on immigrants
          (e.g., separating parents from children), on our human rights and the very
          values that our democracy was founded on, it is so easy to “go low” — to
          match the ugliness with our own rage, disgust, fear and hatred.</p>
        <p>However, in order to turn things around, we are called to do the very
          opposite.  We need to take the high road, as in Michelle Obama’s
          declaration, “When they go low, we go high.”  And since virtually every day
          there is another assault on our democratic values, we must <span
            style="font-style: italic;">consistently</span> practice going “high.”</p>
        <ion-button color="secondary" fill="clear" size="small" (click)="onShowLessContent()">
          <ion-icon name="arrow-dropup"></ion-icon>
          Show Less
        </ion-button>
        <p></p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="8">
        <iframe width="100%" height="400"
                src="https://www.youtube.com/embed/RMCTwX3QdAs"
                frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                modestbranding="1" allowfullscreen>
        </iframe>
        <!--<video src="assets/vids/WebsiteSequence.mp4" #video class="video-player" oncontextmenu="return false;"-->
               <!--controls controlsList="nodownload">-->
        <!--I'm sorry, your browser doesn't support MP4 with H.265-->
          <!--&lt;!&ndash;<track src="/assets/vids/deva1.vtt" kind="subtitles" srclang="en" label="English">&ndash;&gt;-->
        <!--</video>-->
      </ion-col>
    </ion-row>
    <ion-row class="steps-background">
      <ion-col size="12">
        <div text-center padding-top>
          <h3>The formula is simple for The Goodness Breath.</h3>
          <p class="bold-it">Tap on the 3 steps:</p><br><br>
        </div>
        <ion-segment (ionChange)="segmentChanged($event)" value="breatheIn">
          <ion-segment-button href="#breatheIn" value="breatheIn">
            1
          </ion-segment-button>
          <ion-segment-button href="#takeMoment" value="takeMoment">
            2
          </ion-segment-button>
          <ion-segment-button href="#breathOut" value="breatheOut">
            3
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col *ngIf="showContentBI" size="12">
        <div text-center padding-top padding-bottom>
          <img src="/assets/imgs/breathe-in.jpg">
          <p>
            Breathe in and imagine filling ourselves up by drawing from the well of our
            own inherent goodness.
          </p>
        </div>
      </ion-col>
      <ion-col *ngIf="showContentTM" size="12">
        <div text-center padding-top padding-bottom>
          <img src="/assets/imgs/moment.jpg">
          <p>
            Take a moment to consciously experience the beneficent power of this goodness.
          </p>
        </div>
      </ion-col>
      <ion-col *ngIf="showContentBO" size="12">
        <div text-center padding-top padding-bottom>
          <img src="/assets/imgs/breathe-out.jpg">
          <p>
            Breathe out, intentionally channeling this goodness into our country and our world
            as a force of light.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col>
        <ion-button color="secondary" expand="block" (click)="presentThreeStepsModal()">
          <ion-icon slot="start" name="open"></ion-icon>
          Let's explore the depths of each step
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="8">
        <h1>Light Up the Grid with Goodness</h1>
        <p>
          “I am one person remembering... and now I am two and now ten and now twenty and now
          the twenty becomes twenty million as we light up our Earth’s grid with goodness as a
          global prayer-in-action”
        </p>
        <p>
          This is what it is going to take — all over the world. We wake up to the force of our
          goodness and join together in a global movement.
        </p>
        <p>
          Imagine millions of humans, all across the world, participating in this focused
          spiritual practice — people of all races and languages, rich and poor, young and old
          — all breathing in goodness, breathing out goodness as a fierce force for
          transformation.
        </p>
        <p>
          So, how does one person become millions of people committed to Lighting Up the Grid
          with Goodness?
        </p>
        <p class="bold-it">Let's make it happen.</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="8">
        <h1>Make your commitment by placing your name and location on GoodnessBreath.com</h1>
        <p>
          * Make it real by making it a habit to practice the goodness breath constantly throughout
          the day so that it becomes a part of your daily life focus.
        </p>
        <p>
          * Breathe in Goodness and Breathe out Goodness consciously every day at least for five
          minutes.
        </p>
        <p>
          * Invite everyone you know to join forces with the Goodness Breath Project. Bring it
          into your community, your family, your circle of friends, your school, your place of
          worship. Make it your own to share with as many people as you can and spread the word.
        </p>
        <p>
          * Practice it for yourself, for all of us humans, and for all beings who share Mother
          Earth as our home.
        </p>
        <p>
          * Add your way of experiencing the goodness breath on Instagram.
        </p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
    <ion-col size="10">
      <div class="map-dimensions">
        <ion-button color="tertiary" (click)="setLocation()">
          <ion-icon slot="start" name="pin"></ion-icon>
          Add your light to the grid!
        </ion-button>
        <app-google-map></app-google-map>
      </div>
    </ion-col>
  </ion-row>
    <ion-row justify-content-center>
      <ion-col class="footer">
        <h3>Goodness Breath Project</h3>
        <p></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="goToFB()"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
