<ion-header [class.vanish]="showImage" translucent>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen (ionScroll)="vanishOnScroll($event)" [scrollEvents]="true">
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <img [class.vanish]="showImage" class="main-image" src="/assets/imgs/GBP-cropped2.jpg">
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="8">
        <h1>The Goodness Breath Project</h1>
        <h3>Light Up the Grid with Goodness</h3>
        <p>The Goodness Breath is an ongoing spiritual practice for all of us
          to participate in at this time of upheaval andtransformation. It is a way
          of staying in powerful alignment with who we really are as human beings
          and what we are made of - <span
            style="font-style: italic;">goodness</span>.
          <ion-button *ngIf="!showMoreContent" color="secondary" fill="clear" size="small"
                      (click)="onShowMoreContent()">
            <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
            Show More
          </ion-button>
        </p>
      </ion-col>
      <ion-col *ngIf="showMoreContent" size="8">
        <p>In these challenging times of witnessing our government enact war on our
          environment (wildlife, air and water, earth, national parks), on immigrants
          (e.g., separating parents from children), on our human rights and the very
          values that our democracy was founded on, it is so easy to “go low” — to
          match the ugliness with our own rage, disgust, fear and hatred.</p>
        <p>However, in order to turn things around, we are called to do the very
          opposite.  We need to take the high road, as in Michelle Obama’s
          declaration, “When they go low, we go high.”  And since virtually every day
          there is another assault on our democratic values, we must <span
            style="font-style: italic;">consistently</span> practice going “high.”</p>
        <ion-button color="secondary" fill="clear" size="small" (click)="onShowLessContent()">
          <ion-icon name="arrow-dropup"></ion-icon>
          Show Less
        </ion-button>
        <p></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center>
        <h2>Fierce Voice of Goodness</h2>
        <iframe width="100%" height="600"
          src="https://www.youtube.com/embed/_ysE-L4aOhE"
          frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
          modestbranding="1" allowfullscreen>
        </iframe>
      </ion-col>
    </ion-row>
    <ion-row class="primary-border">
      <ion-col size="12">
        <div text-center padding-top>
          <h2>The Formula is Simple for The Goodness Breath.</h2>
          <p class="bold-it">Tap on each button below:</p>
        </div>
        <ion-row>
          <ion-col align-items-center>
            <ion-button size="large" shape="round" expand="block" color="secondary"
                        (click)="showBreatheIn()">One</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" shape="round"expand="block" color="secondary"
                        (click)="showTakeMoment()">Two</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" shape="round"expand="block" color="secondary"
                        (click)="showBreatheOut()">Three</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="showContentBI" size="12">
        <ion-card no-margin no-padding>
          <img src="/assets/imgs/breathe-step-01.jpg"/>
          <div class="card-title">Breathe in and imagine filling ourselves up by drawing
            from the well of our own inherent goodness.
          </div>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="showContentTM" size="12">
        <ion-card no-margin no-padding>
          <img src="/assets/imgs/breathe-step-02.jpg"/>
          <div class="card-title">Take a moment to consciously experience the beneficent
            power of this goodness.
          </div>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="showContentBO" size="12">
        <ion-card no-margin no-padding>
          <img src="/assets/imgs/breathe-step-03.jpg"/>
          <div class="card-title">Breathe out, intentionally channeling this goodness into
            our country and our world as a force of light.
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col>
        <ion-button color="secondary" expand="block" (click)="presentThreeStepsModal()">
          <ion-icon slot="start" name="open"></ion-icon>
          Explore the depths of each step here
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center padding>
      <ion-col size="12" text-center>
        <h3>Learn Ways to Make an Impact in Your Community by Watching These Videos</h3>
      </ion-col>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide text-center>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/HInZVhZkoLs"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#1 - The Goodness Breath - Three Steps</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/0pAhuE78Bh4"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#2 - Introduction</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/0jhi9Bk0NFA"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#3 - Breathe in Goodness</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/qgq0TlQ3nyY"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#4 - Add Your Name</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/se7Ma_5pa1o"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#5 - Enroll Your Community</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/gG25Klv0AhA"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#6 - Don't You Hear the Alarm</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/eOAyPzWP_-Q"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#7 - Join Together</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/DemiMcA0IQQ"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#8 - Kids</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/gfD2RFwXRqA"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#9 - Mission</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/mGFgfD8H8DQ"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#10 - Oneness</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/yiLC2L0BHnU"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#11 - The Practice of Oneness 1</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/cceFFCKi5kE"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#12 - The Practice of Oneness 2</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/AOZsYbAZNfs"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#13 - Ways of Practicing</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/7OkiCBpcKR8"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#14 - Part I Recycling Negative Feelings Before Chopping the Karmic Logs</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/Q6J-yb7NPKE"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#15 - Part II Self Care</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/BUgjKquXGMU"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#16 - Chopping the Karmic Logs</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/MXol71ppdAc"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#17 - Warrior Video</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col>
              <iframe width="100%" height="400"
                      src="https://www.youtube.com/embed/sy2ZthOn1-Q"
                      frameborder="0" allow="accelerometer; encrypted-media; gyroscope;"
                      modestbranding="1" allowfullscreen>
              </iframe>
              <p>#18 - I am a Force of Light</p>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
      <ion-row>
        <ion-col text-center>
          <ion-button *ngIf="!hidePrevious" (click)="previous()">Previous</ion-button>
          <ion-button *ngIf="!hideNext" (click)="next()">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="8">
        <h1>Light Up the Grid with Goodness</h1>
        <p>
          “I am one person remembering... and now I am two and now ten and now twenty and now
          the twenty becomes twenty million as we light up our Earth’s grid with goodness as a
          global prayer-in-action”
        </p>
        <p>
          This is what it is going to take — all over the world. We wake up to the force of our
          goodness and join together in a global movement.
        </p>
        <p>
          Imagine millions of humans, all across the world, participating in this focused
          spiritual practice — people of all races and languages, rich and poor, young and old
          — all breathing in goodness, breathing out goodness as a fierce force for
          transformation.
        </p>
        <p>
          So, how does one person become millions of people committed to Lighting Up the Grid
          with Goodness?
        </p>
        <p class="bold-it">Let's make it happen.</p>
        <p>
          * Add your way of experiencing the goodness breath on our
          <a href="https://www.facebook.com/GoodnessBreath/" target="_blank">Facebook</a> page.
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="primary-background" justify-content-center>
      <ion-col size="8">
        <h1 text-center>Articles About The Goodness Breath Project</h1>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card>
          <ion-img src="/assets/imgs/UnderWaterView.jpg" alt="marek-okon-1398447-unsplash" (click)="goToArticle2()"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Thrive Global - April 10, 2019</ion-card-subtitle>
            <ion-card-title class="article-title">The Invitation to Practice Awareness of Our Oneness</ion-card-title>
          </ion-card-header>
          <ion-card-content class="article-content">
            What changes would occur if we, as a human species, all around our globe,
            actually woke to the reality that we are truly One eco-system?
          </ion-card-content>
          <ion-button color="secondary" slot="end" (click)="goToArticle2()"
          >View Article</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card>
          <ion-img src="/assets/imgs/nasa-53884-unsplash.jpg" alt="nasa-53884-unsplash" (click)="goToArticle1()"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Thrive Global - February 1, 2019</ion-card-subtitle>
            <ion-card-title class="article-title">The Goodness Breath</ion-card-title>
          </ion-card-header>
          <ion-card-content class="article-content">
            This focus on goodness calls upon us to anchor into the belief that the light within
            us is more powerful than disillusionment, anger and hate.
          </ion-card-content>
          <ion-button color="secondary" slot="end" (click)="goToArticle1()"
          >View Article</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <!--<ion-row justify-content-center>-->
      <!---->
      <!--<ion-col size="10">-->
        <!--<div class="map-dimensions">-->
          <!--<ion-button color="tertiary" (click)="setLocation()">-->
            <!--<ion-icon slot="start" name="pin"></ion-icon>-->
            <!--Add your light to the grid!-->
          <!--</ion-button>-->
          <!--<app-google-map></app-google-map>-->
        <!--</div>-->
      <!--</ion-col>-->
      <!---->
      <!--<ion-col size="8">-->
        <!--<h1>Add Your Name to Light Up the Grid Coming Soon!</h1>-->
        <!--<h3>Come back later to add your light.</h3>-->
        <!--<div id="map"  (focus)="handleOnFocus()" style="width:100%; height:500px;"></div>-->
      <!--</ion-col>-->
      <!---->
    <!--</ion-row>-->
    <ion-row justify-content-center>
      <ion-col class="footer">
        <h3>Goodness Breath Project</h3>
        <p></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="goToFB()"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="goToTwitter()"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="goToYT()"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
