:host {

}

ion-header {
  --border-width: 0;
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-toolbar {
  --border-width: 0;
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-segment-button {
  --background: var(--ion-color-secondary);
  --background-checked: var(--ion-color-secondary-tint);
  --color: var(--ion-color-light);
  --color-checked: var(--ion-color-tertiary);
  --border-style: solid;
  --border-width: 1px;
  --border-color: var(--ion-color-tertiary);
  --border-radius: 50px;
}

ion-slides {
  --bullet-background: var(--ion-color-secondary-shade);
  --bullet-background-active: var(--ion-color-tertiary);
}

ion-card {
  position: relative;
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

a {
  color: var(--ion-color-tertiary);
}

.main-image {
  width: 100%;
  margin: auto;
  display: block;
  opacity: 1;
  transition: opacity 0.5s linear;
}


.font-background {
  background: rgba(255, 255, 255, .5);
}

.bold-it {
  font-weight: bold;
}

.primary-border {
  border: solid 15px var(--ion-color-primary);
  color: var(--ion-color-secondary);
  border-radius: 25px;
}

.primary-background {
  background: var(--ion-color-primary);
  color: var(--ion-color-secondary);
}

.vanish {
  margin: auto;
  display: block;
  opacity: 0;
  transition: opacity 0.5s linear;
  //transform: scaleY(0) scaleX(0);
  //transition: transform 0.5s linear;
}

.video-player {
  width: 100%;
  height: 100%;
}

.map-dimensions {
  width: 50vw;
  height: 80vh;
}

.footer {
  color: var(--ion-color-medium);
  background-color: var(--ion-color-primary-tint);
}

.card-title {
  position: absolute;
  top: 20%;
  width: 100%;
  font-size: 6vw;
  text-shadow: 3px 3px 8px #000000;
  font-weight: bold;
  color: #ffffff;
}

.card-title3 {
  position: absolute;
  top: 20%;
  width: 100%;
  font-size: 6vw;
  text-shadow: 0px 0px 40px var(--ion-color-secondary-shade);
  font-weight: bold;
  color: #ffffff;
}

.article-img {
  display:block;
  vertical-align: middle;
  max-height: 18em;
  overflow: hidden;
}

.article-title {
  height: 3em;
}

.article-content {
  height: 15vh;
  max-height: 15vh;
  overflow: scroll;
}
